# Database
DATABASE_URL="postgresql://usuario:senha@localhost:5432/tabilize_db?schema=public"

# JWT
JWT_SECRET="sua-chave-secreta-super-segura-aqui"
JWT_EXPIRES_IN="7d"

# Server
PORT=3000

# AbacatePay
ABACATEPAY_TOKEN="abc_dev_..."
ABACATE_PRODUCT_STARTER_MONTHLY="product_id_do_dashboard"
ABACATE_PRODUCT_STARTER_YEARLY="product_id_do_dashboard"
ABACATE_PRODUCT_PRO_MONTHLY="product_id_do_dashboard"
ABACATE_PRODUCT_PRO_YEARLY="product_id_do_dashboard"
